<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SimpleInjector" version="4.4.3" targetFramework="net47" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net47" />
  <package id="SkiaSharp.Views.Forms" version="1.68.0" targetFramework="net47" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="net47" />
  <package id="Xamarin.Forms" version="3.5.0.129452" targetFramework="net47" />
</packages>